*{
    margin:0;
    box-sizing: border-box; 
    /* border: 1px solid green;    */
    font-family: 'Roboto', sans-serif;
}

body {
    background: #ddd;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} 
h1, h2, h3, h4, h5, h6{
    font-family: Montserrat, sans-serif;
}
h1{
    font-weight: normal;
}
nav {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    background: #444;
    color: #ddd;
    align-items: center;
}

nav a{
    padding: .25rem .5rem;
    margin-left: 1rem;

    background: #FFF;
    color: #20c;
    text-decoration: none;
    transition: .3s;
    }

nav a:hover{
    background: #20c;
    color: #FFF;
}

#title{
    display: flex;
    align-items: center;
    color: #fff;
}

#icon{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 1px solid #fff;
    background-image: url("img/profile.jpg");
    background-size: cover;
    background-position: center center;
    margin-right: 1rem;
}



#banner{
    background-image: url('img/data-science-biovia_0b0c4749f4.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
    min-height: 10rem;
    width: 100%;
}

#banner i{
    background: #20c8;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 200;
    padding: 1rem;
    border-radius: 4px;
}

#layout {
    width: 100%;
    padding: 1rem;
}

.row {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.row h2 {
    width: 20vw;
    min-width: 20vw;
    text-align: right;
    color: #20c;
    border-right: 3px solid #20c;
    padding: 0 1rem;
    letter-spacing: .2em;
    }

.content {
    flex: 1;
    padding: 0 1rem;
    line-height: 2em;
}


.project-row {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}
.project-row:last-child{
    margin-bottom: 0;
}
.project-col{
   width: 100%;
}



.project{
    border: 3px solid #20c;
    min-height: 20vw;
    margin-left: 1rem; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
    overflow: hidden;
    position: relative;

}
.project::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    filter: grayscale(90%);
    z-index:0;
    transition: .3s;
}

.project:hover::before{
    filter: grayscale(0%);
}
.project p{
    background: #20c;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    z-index:1;
}
.project1::before{background-image: url('img/tm-workshop.png')}
.project2::before{background-image: url('img/notetakerapp.png')}
.project3::before{background-image: url('img/thoughtmuseumwebsite.png')}

.large{
    min-height: 40vw;
    margin-top: 0;
}

.contact-row {
    padding-left:  1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   }

.contact-item {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: .5rem;
    border: 3px solid #20c;
}

@media only screen and (max-width: 900px) {
   .row, .contact-row{
       flex-direction: column;
   } 
   .row h2 {
       border: 0px solid white;
       width: 100%;
       text-align: center;
   }

   .contact-item {
       width: 100%;
       margin-top: 1rem;
   }

   #nav-buttons{
       display: flex;
       flex-direction: column;
       align-items: flex-end;
   }

   #nav-buttons a {
       margin-top: 5px;

   }
}