*{
    margin:0;
    box-sizing: border-box; 
    /* border: 1px solid green;    */
    font-family: 'Roboto', sans-serif;
}

body {
    background: #ddd;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
} 

nav {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    background: #444;
    color: #ddd;
    align-items: center;
}

nav a{
    padding: .25rem .5rem;
    margin-left: 1rem;
    background: #ddd;
    color: #444;
    text-decoration: none;
    }

nav a:hover{
    background: #bbb;
}

#banner{
    background: #888;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 1rem;
    min-height: 10rem;
    width: 100%;
}

#banner p{
    background: #444;
    color: #ddd;
    padding: 1rem;
}

#layout {
    width: 100%;
    padding: 1rem;
}

.row {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.row h2 {
    width: 20vw;
    min-width: 20vw;
    text-align: right;
    color: #20c;
    border-right: 3px solid #20c;
    padding: 0 1rem;
    letter-spacing: .2em;
    }

.content {
    flex: 1;
    padding: 0 1rem;
    line-height: 2em;
}


.project-row {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}
.project-row:last-child{
    margin-bottom: 0;
}
.project-col{
   width: 100%;
}



.project{
    border: 3px solid #20c;
    min-height: 20vw;
    margin-left: 1rem; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex: 1;
    background-position: center center;
    background-size: cover;
    backdrop-filter: grayscale(20%);
}
.project1{background-image: url('http://placekitten.com/1600/900')}

.project:hover{
    backdrop-filter: grayscale(0%);
}
.project p{
    background: #20c;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #fff;
}

.large{
    min-height: 40vw;
    margin-top: 0;
}